.activatus .container{
  margin-top: 24px;
}

.activatus .stage{
  height: 400px;
  background-color: rgba(0,0,0,0.4);
  position: relative;
}

.activatus .stage .obj{
  position: absolute;
  height: 64px;
  width: 64px;
  background-color: red;
  cursor: pointer;
}

.activatus .settings{
  background-color: rgba(0,0,0,0.4);
  height: 400px;
}

.activatus ul.settings{
  padding: 0;
}

.activatus ul.settings li.time{
  list-style: none;
}
.activatus ul.settings li.time h4{
  margin: 0;
  padding: 8px;
}

.activatus ul.settings li.time .timebar-wrapper{
  width: 100%;
  height: 10px;
  width: 100%;
  height: 10px;
  background-color: white;
  border: solid 1px #555;
  border-radius: 10px;
  box-sizing: border-box;
  position: relative;
}
.activatus ul.settings li.time .timebar-wrapper .timebar{
  height: 100%;
  -moz-animation-name: progressBar;
  -moz-animation-duration: 5s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -moz-animation-animation-direction: normal;

  -webkit-animation-name: progressBar;
  -webkit-animation-duration: 5s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: normal;

  -o-animation-name: progressBar;
  -o-animation-duration: 5s;
  -o-animation-timing-function: linear;
  -o-animation-iteration-count: infinite;
  -o-animation-direction: normal;

  -ms-animation-name: progressBar;
  -ms-animation-duration: 5s;
  -ms-animation-timing-function: linear;
  -ms-animation-iteration-count: infinite;
  -ms-animation-direction: normal;
}

.activatus .stage .obj {
-moz-animation-name: anime1;
-moz-animation-duration: 5s;
-moz-animation-timing-function: ease;
-moz-animation-iteration-count: infinite;
-moz-animation-animation-direction: alternate;

-webkit-animation-name: anime1;
-webkit-animation-duration: 5s;
-webkit-animation-timing-function: ease;
-webkit-animation-iteration-count: infinite;
-webkit-animation-direction: alternate;

-o-animation-name: anime1;
-o-animation-duration: 5s;
-o-animation-timing-function: ease;
-o-animation-iteration-count: infinite;
-o-animation-direction: alternate;

-ms-animation-name: anime1;
-ms-animation-duration: 5s;
-ms-animation-timing-function: ease;
-ms-animation-iteration-count: infinite;
-ms-animation-direction: alternate;
}

@-moz-keyframes progressBar {
0% {width: 0px; background-color: green;}
100% {width: 100%; height: 50px; background-color: red;}
}

@-webkit-keyframes progressBar {
0% {width: 0px; background-color: green;}
100% {width: 100%; background-color: red;}
}

@-o-keyframes progressBar {
0% {width: 0px; background-color: green;}
100% {width: 100%; background-color: red;}
}

@-ms-keyframes progressBar {
0% {width: 0px; background-color: green;}
100% {width: 100%; background-color: red;}
}

@-moz-keyframes anime1 {
0% {width: 50px; height: 50px; background-color: aqua;}
100% {width: 200px; height: 50px; background-color: blue;}
}

@-webkit-keyframes anime1 {
0% {width: 50px; height: 50px; background-color: aqua;}
100% {width: 200px; height: 50px; background-color: blue;}
}

@-o-keyframes anime1 {
0% {width: 50px; height: 50px; background-color: aqua;}
100% {width: 200px; height: 50px; background-color: blue;}
}

@-ms-keyframes anime1 {
0% {width: 50px; height: 50px; background-color: aqua;}
100% {width: 200px; height: 50px; background-color: blue;}
}